---
import cardimage from "../assets/images/cardimage.png";
import cardimagebigger from "../assets/images/cardimagebigger.png";
---

<article>
    <div class="card-billede flex flex-col justify-between">
        <img src={cardimagebigger.src} alt="cardbillede">
        <div class="badge"><p>New York, Caribien, Hawaii, Mexico</p></div>
        <div class="badge"><p>Få pladser tilbage</p></div>
        <div class="badge"><p>Varighed 3 måneder</p></div>
    </div>

    <section>

    </section>

</article>

<h1>hej</h1>



<style>
    .card-billede img{
        max-width: 100%;
        max-height: 800px;
    }
</style>
































<!-- <article class="card border-blue-500 border-2 @container">
    <a href="#" class="flex flex-col justify-between h-full">
        <header class="danseholdheader mb-xs relative">
            <img class="object-cover h-9xl w-full bg-red-200" src="ball.jpeg" alt="ballin">

            <div class="badge absolute top-xs">Nyt hold!</div>
            <div class="badge absolute top-ml right-xs ">10% rabat!</div>
            <div class="badge absolute ">Kun få pladser tilbage!</div>

        </header>

        <section class="holdinfo p-xs grow border-b-2 border-blue-500">
            <h3 class="text-small @lg:text-large mb-xs"></h3>
            <div class="flex flex-col @md:flex-row @md:justify-between mb-xs">


                <div class="venstre grow">
                    <div><span>Tid: </span></div>
                    <div><span>Alder: </span></div>
                    <div><span>Niveau: </span></div>
                </div>
                
                <div class="hoejre grow">
                    <div>Deltagere:<span></span></div>
                    <div>Lokale:<span></span></div>
                </div>
            </div>
            <p class="mb-xs"></p>

        </section>

        <section class="underviserinfo flex my-xs gap-xs p-xs"><img src="lady.jpeg" alt="">
        </section>
    </a>

</article> -->



