<footer class="bg-orange-400 text-black py-10">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center md:items-start space-y-10 md:space-y-0">
      <!-- Contact Section -->
      <div class="flex flex-col items-center md:items-start">
        <h3 class="text-lg font-bold">KONTAKT</h2>
        <p>Telefon: 7027 9007</p>
        <p>Hverdage kl. 10.00-16.00</p>
        <p>Mail: info@hojskolendk.dk</p>
        <!-- Icons -->
        <div class="flex space-x-4 mt-4">
          <a href="#" aria-label="Email">
            <img src="src/assets/images/mail.png" alt="Email Icon" class="w-10 h-10" />
          </a>
          <a href="#" aria-label="LinkedIn">
            <img src="src/assets/images/linkedin.png" alt="LinkedIn Icon" class="w-10 h-10" />
          </a>
          <a href="#" aria-label="Messenger">
            <img src="src/assets/images/messenger.png" alt="Messenger Icon" class="w-10 h-10" />
          </a>
        </div>
      </div>

      <!-- Logo Section -->
      <div class="text-center flex-shrink-0">
        <img src="src/assets/images/hojskolelogo.png" alt="Logo" class="w-40 md:w-64 mx-auto" />
      </div>

      <!-- Address Section -->
      <div class="flex flex-col items-center md:items-end">
        <h3 class="text-lg font-bold">HØJSKOLENDK</h2>
        <p>Rosenørns Allé 29</p>
        <p>1970 Frederiksberg</p>
        <p>Danmark</p>
        <!-- Social Media Icons -->
        <div class="flex space-x-4 mt-4">
          <a href="#" aria-label="Facebook">
            <img src="src/assets/images/facebook.png" alt="Facebook Icon" class="w-10 h-10" />
          </a>
          <a href="#" aria-label="Instagram">
            <img src="src/assets/images/insta.png" alt="Instagram Icon" class="w-10 h-10" />
          </a>
          <a href="#" aria-label="TikTok">
            <img src="src/assets/images/tiktok.png" alt="TikTok Icon" class="w-10 h-10" />
          </a>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="text-center text-sm mt-10 flex flex-col justify-center ">
      <p>HØJSKOLENDK er medlem af Rejsegarantifonden.</p>
      <p class="mt-2">Copyright © HØJSKOLENDK 2022</p>
    </div>
  </div>
</footer>
